services:
  nginx:
    labels:
      # Mark this container as managed by Konta
      - konta.managed: "true"

    image: nginx:latest
    restart: unless-stopped

    # Mount website content
    volumes:
      - ./html:/usr/share/nginx/html:ro
      - ./nginx.conf:/etc/nginx/nginx.conf:ro

    ports:
      - "80:80"

    deploy:
      resources:
        limits:
          cpus: '0.1'
          memory: 20M
