services:
  nginx:
    labels:
      - konta.managed=true

    image: nginx:latest
    restart: unless-stopped

    # Mount website content
    volumes:
      - ./html:/usr/share/nginx/html:ro
      - ./nginx.conf:/etc/nginx/nginx.conf:ro

    ports:
      - "8080:80"

    deploy:
      mode: replicated
      replicas: 3
      endpoint_mode: vip

      resources:
        limits:
          cpus: "0.5"
          memory: 256M
